params {
    input          = "${projectDir}/data/samplesheet.csv"
    outdir         = "${projectDir}/results"
    fasta          = "${projectDir}/data/reference/hg38_chr21.fa"
    emseq          = true
    aligner        = 'bismark'
    publish_dir_mode = 'copy'
}

profiles {
    standard {
        process.executor = 'local'
    }
}
